<!doctype html><html><body>
  <h1>Welcome, {{ username }}</h1>
  <ul>
    <li><a href="{{ url_for('my_entries') }}">Show my Contest Entry Results</a></li>
    <li><a href="{{ url_for('add_entry') }}">Add new Baking Contest Entry</a></li>
    {% if level >= 2 %}
      <li><a href="{{ url_for('list_users') }}">List Baking Contest Users</a></li>
    {% endif %}
    {% if level >= 3 %}
      <li><a href="{{ url_for('add_user_admin') }}">Add new Baking Contest User</a></li>
      <li><a href="{{ url_for('list_results') }}">Baking Contest Entry Results</a></li>
    {% endif %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>
</body></html>
